.nerdflix {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: flex;
  gap: calc(1vw + 2vw);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
}
.movie {
  width: 12vw;
  height: 18vw;
  max-width: 182px;
  min-height: 268px;
}
